<form [formGroup]="myform"
      (ngSubmit)="onSubmit()">

  <div class="form-group"
         [ngClass]="{
        'has-warning': name.invalid && (name.dirty || name.touched),
        'has-success': name.valid && (name.dirty || name.touched)
      }">
    <label>Name</label>
    <input type="text"
            class="form-control"
            formControlName="name"
            required>
    <div class=""
          *ngIf="name.errors && (name.dirty || name.touched)">
      <p *ngIf="name.errors.required">First Name is required</p>
    </div>

    <!--
      <pre>Valid? {{ myform.controls.name.controls.name.valid }}</pre>
      <pre>Dirty? {{ myform.controls.name.controls.name.dirty }}</pre>
    -->
  </div>

  <div class="form-group"
       [ngClass]="{
        'has-warning': email.invalid && (email.dirty || email.touched),
        'has-success': email.valid && (email.dirty || email.touched)
   }">
    <label>Email</label>
    <input type="email"
           class="form-control"
           formControlName="email"
           required>
    <div class=""
         *ngIf="email.errors && (email.dirty || email.touched)">
      <p *ngIf="email.errors.required">Email is required</p>
      <p *ngIf="email.errors.pattern">The email address must contain at least the @ character</p>
    </div>

    <!--
      <pre>Valid? {{ myform.controls.email.valid }}</pre>
      <pre>Dirty? {{ myform.controls.email.dirty }}</pre>
    -->

  </div>

  <div class="form-group"
       [ngClass]="{
        'has-warning': subject.invalid && (subject.dirty || subject.touched),
        'has-success': subject.valid && (subject.dirty || subject.touched)
   }">
    <label>Subject</label>
    <input type="text"
           class="form-control"
           formControlName="subject"
           required>
    <div class=""
         *ngIf="subject.errors && (subject.dirty || subject.touched)">
      <p *ngIf="subject.errors.required">Subject is required</p>
    </div>

    <!--
      <pre>Valid? {{ myform.controls.subject.valid }}</pre>
      <pre>Dirty? {{ myform.controls.subject.dirty }}</pre>
    -->

  </div>

  <div class="form-group"
       [ngClass]="{
        'has-warning': phone.invalid && (phone.dirty || phone.touched),
        'has-success': phone.valid && (phone.dirty || phone.touched)
   }">
    <label>Phone No</label>
    <input type="number"
           class="form-control"
           formControlName="phone"
           required>
    <div class="danger"
         *ngIf="phone.errors && (phone.dirty || phone.touched)">
      <p *ngIf="phone.errors.required">Phone Number is required</p>
    </div>

    <!--
      <pre>Valid? {{ myform.controls.subject.valid }}</pre>
      <pre>Dirty? {{ myform.controls.subject.dirty }}</pre>
    -->

  </div>

  <button type="submit"
          class="btn btn-primary btn-block">SAVE
  </button>
  <hr>
  <pre>{{myform.value | json}}</pre>
</form>